html,
body {
   position: relative;
   height: 100%;
}
a {
   color: white !important;
   text-decoration: none !important;
   cursor: pointer;
}
body {
   background: #000;
   font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 16px;
   color: white;
   margin: 0;
   padding: 0;
}

.nav__bottom-button > .container {
   padding-left: 0 auto;
   padding-top: 10px;
   padding-bottom: 10px;
   /* border-bottom: 1px solid #ccc; */
   /* justify-content: center; */
   display: flex;
}
.nav__bottom-button > .container > span {
   display: flex;
   justify-content: center;
   text-align: center;
   /* align-items: center; */
   /* padding-right: 10px; */
   margin-right: 10px;
   font-size: 17px;
   font-weight: bold;
}
.nav__bottom-button > .container > span:nth-of-type(1) a {
   color: #04ce66 !important;
   border-bottom: 3px solid #04ce66;
   display: flex;

   padding-bottom: 10px;
}
.nav__top-button > .container {
   border-bottom: 1px solid #ccc;
}
.top-button__name {
   display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
}

.getDetailMovies > .col-md-12 {
   flex-direction: column;
}
.swiper {
   width: 100%;
   height: 450px;
}

.swiper-slide {
   font-size: 16px;
   background: transparent;
   display: flex;
   justify-content: center;
   margin-left: 35px;
   flex-direction: column;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 300px;
   object-fit: cover;
}
.swiper-slide h3 {
   padding-top: 10px;
   font-size: 16px;
   font-weight: bold;
   margin: 0;
}
.swiper-slide span {
   font-size: 14px;
   font-weight: bold;
   color: red;
}
.swiper-slide h4 {
   font-size: 12px;
   margin: 0;
}
.List {
   width: 100%;
   flex-direction: column;
   flex-wrap: wrap;
}
.List p {
   overflow: hidden;
}
.List img {
   width: 18rem;
   height: 500px;
   margin-bottom: 20px;
}

.PeopleList {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   /* justify-content: space-between; */
}

.PeopleList > div {
   flex: 0 0 calc(33.33% - 20px); /* Adjust the width and margin as needed */
   margin-bottom: 20px;
}
.row {
   display: flex;
   width: 100%;
}
.bg-black {
   margin-right: 20px;
}
.PeopleList > .container {
   display: flex;
}
.PeopleList > img {
   flex-wrap: wrap;
   width: 14rem;

   /* height: 200px; */
}

@media only screen and (max-width: 768px) {
   .PeopleList > div {
      flex: 0 0 calc(50% - 20px); /* Two columns on smaller screens */
   }
}

footer {
   background-color: transparent;
   color: white;
   text-align: center;
   padding: 10px;

   bottom: 0;
   width: 100%;
}
