html,
body {
   position: relative;
   height: 100%;
}
a {
   color: white !important;
   text-decoration: none !important;
   cursor: pointer;
}
body {
   background-color: #000 !important;
   font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif !important;
   font-size: 16px;
   color: white;
   margin: 0;
   padding: 0;
}

.nav__bottom-button > .container {
   padding-left: 0 auto;
   padding-top: 10px;
   padding-bottom: 10px;
   /* border-bottom: 1px solid #ccc; */
   /* justify-content: center; */
   display: flex;
}
.nav__bottom-button > .container > span {
   display: flex;
   justify-content: center;
   text-align: center;
   color: white;
   /* align-items: center; */
   /* padding-right: 10px; */
   margin-right: 10px;
   font-size: 17px;
   font-weight: bold;
}
.nav__bottom-button > .container > span:nth-of-type(3) a {
   color: #04ce66 !important;
   border-bottom: 3px solid #04ce66;
   display: flex;

   padding-bottom: 10px;
}
.nav__top-button > .container {
   border-bottom: 1px solid #ccc;
   color: white !important;
}
.top-button__name {
   display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
}

.Login {
   width: 1000px;
   padding: 0 auto;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

#signup {
   background: #000;
   border: 1px solid white;
   border-radius: 5px;
   padding: 20px;
   width: 400px;
   color: white;
}

#signup fieldset {
   border: 1px solid #ccc;
   margin-bottom: 30px;
}

/* 제출 버튼 */
#signup fieldset:last-of-type {
   border: none;
}

/* 로그인 정보, 개인정보 */
#signup legend {
   display: flex;
   justify-content: center;
   font-size: 16px;
   font-weight: bold;
   padding-left: 5px;
   padding-bottom: 10px;
}

/* 개인정보 li, 로그인 정보 li */
#signup ul li {
   line-height: 30px;
   list-style: none;
   padding: 5px 10px;
   margin-bottom: 2px;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* label요소 */
#signup label {
   float: left;
   font-size: 13px;
   width: 110px;
   margin-left: 12px;
}

/* 제출버튼 */
#signup button {
   border: 1px solid transparent;
   border-radius: 10px;
   font-size: 16px;
   letter-spacing: 1px;
   padding: 7px 25px;
   display: block;
   margin: 0 auto; /* 가운데 정렬 */
   background-color: #04ce66;
   color: white;
   width: 250px;
   font-weight: bold;
}

/* input타입이 text, password, tel, email */
#signup input[type='text'],
#signup input[type='password'],
#signup input[type='tel'],
#signup input[type='email'] {
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 13px;
   margin-left: 12px;
   padding: 5px;
   width: 250px;
   height: 45px;
   display: flex;
   justify-content: center;
}

/* input에서 readonly 속성을 가진 */
#signup input[readonly] {
   border: none;
}

/* 버튼에 마우스 올렸을 때 */
#signup button:hover {
   background: #049249;
   color: #fff;
}

#signup .alert_msg {
   font-size: 0.8rem;
   /* display: block; */
   display: none;
   color: red;
   padding-left: 70px;
}

.register {
   display: flex;
   justify-content: center;
}

footer {
   background-color: transparent;
   border-top: 1px solid white;
   margin-top: 10px;
   color: white;
   text-align: center;
   padding: 10px;
   position: absolute;
   bottom: 0;
   width: 100%;
}

::placeholder {
   font-size: 0.8rem;
   font-weight: bold;
}
