html,
body {
   position: relative;
   height: 100%;
}
a {
   color: white !important;
   text-decoration: none !important;
   cursor: pointer;
}
body {
   background: #000;
   font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 16px;
   color: white;
   margin: 0;
   padding: 0;
}

.nav__bottom-button > .container {
   padding-left: 0 auto;
   padding-top: 10px;
   /* padding-bottom: 10px; */
   /* border-bottom: 1px solid #ccc; */
   /* justify-content: center; */
   display: flex;
}
.nav__bottom-button > .container > span {
   display: flex;
   justify-content: center;
   text-align: center;
   /* align-items: center; */
   /* padding-right: 10px; */
   margin-right: 10px;
   font-size: 17px;
   font-weight: bold;
}
.nav__bottom-button > .container > span:nth-of-type(2) a {
   color: #04ce66 !important;
   border-bottom: 3px solid #04ce66;

   display: flex;

   padding-bottom: 10px;
}
.nav__top-button > .container {
   border-bottom: 1px solid #ccc;
}
.top-button__name {
   display: flex;
   padding-top: 10px;
   padding-bottom: 10px;
}

.Name {
   margin-top: 20px;
}

.col-md-12 h3 {
   padding-top: 10px;
   font-size: 18px;
   font-weight: bold;
   margin: 0;
}
.col-md-12 span {
   font-size: 14px;
   font-weight: bold;
   color: red;
}
.col-md-12 h4 {
   font-size: 12px;
   margin: 0;
}

.container {
   box-sizing: border-box;
}

section > .container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}
section {
   margin: 20px 0;
}

.row1,
.row2,
.row3,
.row4 {
   display: inline-block;
   flex-wrap: wrap;
   justify-content: space-between;
}

.col-md-12 {
   flex: 1 0 calc(20% - 20px); /* Adjust the width and margin as needed */
   margin-bottom: 20px;
   display: flex;

   margin-bottom: 20px;
   flex-wrap: wrap;
}

.col-md-12 a {
   width: 14rem;
   margin-right: 35px;
}
img {
   width: 14rem;
   height: 351px;
}

@media only screen and (max-width: 768px) {
   .col-md-12 {
      flex: 1 0 100%; /* Full width on smaller screens */
   }
}

footer {
   background-color: transparent;
   border-top: 1px solid white;
   color: white;
   text-align: center;
   padding: 10px;
   margin-top: 10px;
   bottom: 0;
   width: 100%;
}
